@charset "UTF-8";

body {
    background-color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: darkblue;
    background-color: lightgreen;
} 

.h1 {
    text-decoration: underline;
}
h2 {
    color: darkred;
}

p {
    text-align: justify;
}

.p {
    text-align: right;
} 
/* 
   . --> class 
   # --> id  
   Id e class serão ensinadas em aulas posteriores, mas serve 
   para modificar determinados elementos evitando o css inline.
   
*/



